PORT=8000
MONGODB_URI=mongodb+srv://AryanSM:aryan4242AR@cluster0.kzcxh6e.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=aryan4242ARAR
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=aryan4243ARAR
REFRESH_TOKEN_EXPIRY=10d