PORT=8000
MONGODB_URI=mongodb+srv://AryanSM:aryan4242AR@cluster0.kzcxh6e.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=aryan4242ARAR
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=aryan4243ARAR
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dnv4ulawkar
CLOUDINARY_API_KEY=75928515743322242
CLOUDINARY_API_SECRET=4-F3K7zcvSIz2IwkCIIwsvBEj_Aar
